*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Lobster", cursive;
  color: white;
  font-size: 3.5rem;
  text-shadow: 3px 3px black;
}

main {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 700px) {
  main {
    flex-direction: row;
  }

  main > * {
    margin: 4rem;
  }
}

#password-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
}

#password-inputs > * {
  margin: 0.5rem;
  width: 12rem;
}

input,
button {
  border: 2px solid black;
  border-radius: 2px;
}

button {
  background-color: black;
  color: white;
  cursor: pointer;
}

#controlling {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#controlling > * {
  padding: 0;
  margin: 0.3rem;
}
